* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background-color: #2C3E50;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #69ead0;
    padding: 80px 40px;
    text-align: center;
}

.hero h2 {
    font-size: 34px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero button {
    padding: 10px 30px;
    background-color: #f59e0b;;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.jobs {
    padding: 60px 40px;
    text-align: center;
}

.job-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: #24e1bb;
    padding: 30px;
    width: 220px;
    border-radius: 8px;
    font-weight: bold;
}


.how {
    padding: 60px 40px;
    background-color: white;
    text-align: center;
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px;
}
